<mat-tab-group animationDuration="0ms"  style="margin-top: 500px; margin-left:70px;">
    <mat-tab label="Settlement" class="mat-tab">Settlement</mat-tab>
    <mat-tab label="Pricing" class="mat-tab">Pricing</mat-tab>
    <mat-tab label="Card Processing" class="mat-tab">Card Processing</mat-tab>
  </mat-tab-group>



.mat-tab-label-active{
        background-color:white ;
        color:black;
        opacity: 1 !important;
        font-size: larger;
      }
    .mat-tab-label{
      font-size: xx-large;
    }
    .mat-tab-labels{
      background: black;
      color: white

    width: 58%;
    border-bottom: #eb480c36;
    /* border-radius: 35px; */
    }

    
